@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-background-image {
  background-image: url('../../public/assets/background_image.svg');
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  height: fit-content;
  margin: 0;
}

.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 32px 16px;
}

.carousel-status {
  font-family: 'Times New Roman', Times, serif !important;
  color: #010E21 !important;
}